<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>花卉字典</title>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="bulma-0.7.4/css/bulma.min.css">
    <script src="lib/jquery/jquery-3.3.1.min.js"></script>
    <style>
    #search {
        width:250px;
        margin-top: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        margin-top: 200px;
    }
    </style>
</head>
<body>
<div> <a href="index/proposal">提交需求建议</a></div>
<div id="search">
    <div class="field is-grouped">
        <p class="control">
            <input id="name" name="name" class="input" type="text" placeholder="输入花名">
        </p>
        <p class="control">
            <a id="s" class="button is-info">
                查找
            </a>
        </p>
    </div>
</div>
<div id = "content">

</div>


</body>
<script th:inline="none">
    function Socket(url, requestMessage) {
        if (url) {
            var ws = new WebSocket(url);
            ws.onopen = function() {
                ws.send(requestMessage);
            }
            ws.onmessage = function (evt) {
                var received_msg = evt.data;
            }
            ws.onclose = function() {
                console.log("close");
            }

        }
    }

    window.onload = function() {
        var socket = new Socket("ws://139.196.102.33/flowersys/echo/user");
    }
    var s = document.getElementById('s');
    s.onclick = function() {
        $('#content').empty();
        var name = $('#name').val();
        $.ajax({
            type: 'post',
            contentType: 'application/json',
            url: '/flowersys/flower/search',
            data: JSON.stringify({
                "name": name
            }),
            success: function(data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#content').append(`
                <div class="columns">
                    <div class="column is-half is-offset-one-quarter" >
                     <div class="card">
                         <div class="card-image">
                           <img src="${data[i].src}" alt="${data[i].alt}">
                         </div>
                         <div id = "kind" style="color:darkgrey">
                         <p>门: <span>${data[i].phylumname}</span></p>
                         <p>纲: <span>${data[i].classname}</span></p>
                         <p>目: <span>${data[i].ordername}</span></p>
                         <p>科: <span>${data[i].familyname}</span></p>
                         <p>属: <span>${data[i].genusname}</span></p>
                         <p>种: <span>${data[i].speciesname}</span></p>
                         <p>亚种: <span>${data[i].subspeciesname}</span></p>
                         <br>
                         </div>
                         <div>
                          <p>${data[i].description}</p>
                         </div>
                         </div>

                         </div>
                         </div>
                    </div>
                 </div>
                `);
                }

            }
        });
    }


</script>
</html>