<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:include="common/common :: head('后台管理')"></head>

	<body>
		<!-- 顶部开始 -->
		<div class="container">
			<div class="logo">
				<a href="https://github.com/linjunhao1997/flowersys">项目源码</a>
			</div>
			<div class="left_open">
				<i title="展开左侧栏" class="iconfont">&#xe699;</i>
			</div>
			<ul class="layui-nav left fast-add" lay-filter="">
				<li class="layui-nav-item">
					<a href="javascript:;">窗口</a>
					<dl class="layui-nav-child">
						<!-- 二级菜单 -->
						<dd>
							<a id="message" onclick="WeAdminShow('消息','./pages/proposal/proposal.shtml');remove(this)">
								<i class="iconfont">&#xe6a2;</i>待审核
							</a>
						</dd>
					</dl>
				</li>
			</ul>
			<ul class="layui-nav right" lay-filter="">
				<li class="layui-nav-item">
					<a href="javascript:;">设置</a>
					<dl class="layui-nav-child">
						<dd>
							<a onclick="WeAdminShow('切换帐号','./login.shtml');">切换帐号</a>
						</dd>
						<dd>
							<a class="loginout" href="login.shtml">退出</a>
						</dd>
					</dl>
				</li>
				<li class="layui-nav-item to-index">
					<a href="/flowersys/index">前台首页</a>
				</li>
			</ul>

		</div>
		<!-- 顶部结束 -->
		<!-- 中部开始 -->
		<!-- 左侧菜单开始 -->
		<div class="left-nav">
			<div id="side-nav">
				<ul id="nav">
					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe726;</i>
							<cite>用户管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="./pages/user/user.shtml">
									<cite>用户列表</cite>
								</a>
							</li>
							<li>
								<a _href="./pages/user/role.shtml">
									<cite>角色列表</cite>
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe723;</i>
							<cite>花卉管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="./pages/flower/list.shtml">
									<cite>花卉列表</cite>
								</a>
							</li>
						</ul>
					</li>


					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe726;</i>
							<cite>分类管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="./pages/kind/phylum.shtml">
									<cite>生物学分类</cite>
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe726;</i>
							<cite>审核管理</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="./pages/proposal/proposal.shtml">
									<cite>审核列表</cite>
								</a>
							</li>
						</ul>
					</li>

					<li>
						<a href="javascript:;">
							<i class="iconfont">&#xe6ce;</i>
							<cite>系统统计</cite>
							<i class="iconfont nav_right">&#xe697;</i>
						</a>
						<ul class="sub-menu">
							<li>
								<a _href="./pages/echarts/echarts1.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>拆线图</cite>
								</a>
							</li>
							<li>
								<a _href="./pages/echarts/echarts2.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>柱状图</cite>
								</a>
							</li>
							<!--<li>
								<a _href="./pages/echarts/echarts3.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>地图</cite>
								</a>
							</li>-->
							<li>
								<a _href="./pages/echarts/echarts4.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>饼图</cite>
								</a>
							</li>
							<li>
								<a _href="./pages/echarts/echarts5.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>雷达图</cite>
								</a>
							</li>
							<li>
								<a _href="./pages/echarts/echarts6.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>K线图</cite>
								</a>
							</li>
							<li>
								<a _href="./pages/echarts/echarts7.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>热力图</cite>
								</a>
							</li>
							<li>
								<a _href="./pages/echarts/echarts8.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>仪表图</cite>
								</a>
							</li>
							<!--<li>
								<a _href="./pages/echarts/echarts9.shtml">
									<i class="iconfont">&#xe6a7;</i>
									<cite>地图DIY实例</cite>
								</a>
							</li>-->
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<!-- <div class="x-slide_left"></div> -->
		<!-- 左侧菜单结束 -->
		<!-- 右侧主体开始 -->
		<div class="page-content">
			<div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
				<ul class="layui-tab-title" id="tabName">
					<li>主页</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<iframe src="http://139.196.102.33" frameborder="0" scrolling="yes" class="weIframe"></iframe>
					</div>
				</div>
			</div>
		</div>
		<div class="page-content-bg"></div>
		<!-- 右侧主体结束 -->
		<!-- 中部结束 -->
		<!-- 底部开始 -->
		<!-- <div class="footer">
			<div class="copyright">Copyright ©2018 WeAdmin v1.0 All Rights Reserved</div>
		</div> -->
		<!-- 底部结束 -->
		<div th:include="common/common :: commonJS" th:remove="tag"></div>
		<script type="text/javascript" th:inline="javascript">
			layui.config({
			  	base: /*[[@{/js/}]]*/ './static/js/',
			  	version: '101100'
			}).use('admin');
			layui.use(['jquery', 'admin'], function(){
				var $ = layui.jquery;
				$(function() {
					var login = JSON.parse(localStorage.getItem("login"));
					if (login) {
						if(login = 0) {
							window.location.href = /*[[@{/login.shtml}]]*/ './login.html';
							return false;
						} else {
							return false;
						}
					} else {
						window.location.href = /*[[@{/login.shtml}]]*/ './login.html';
						return false;
					}
				});
			});
		</script>
	</body>

	<!--Tab菜单右键弹出菜单-->
	<ul class="rightMenu" id="rightMenu">
        <li data-type="fresh">刷新</li>
        <li data-type="current">关闭当前</li>
        <li data-type="other">关闭其它</li>
        <li data-type="all">关闭所有</li>
    </ul>

	<script type="text/javascript" th:inline="javascript">
        function remove(obj){
            obj.removeChild(obj.lastElementChild);
		};

        function Socket(url, requestMessage) {
            if (url) {
                var ws = new WebSocket(url);
                ws.onopen = function() {
                    ws.send(requestMessage);
                }
                ws.onmessage = function (evt) {
                    var received_msg = evt.data;
                    var element = document.getElementById("newMessage");
                    element.innerText = Number(element.innerText) + Number(received_msg);
                }
                ws.onclose = function() {
                    console.log("close");
                }
            }
        }

		window.onload = function() {
            var $ = layui.jquery;
            $.ajax({
                type: 'post',
                contentType: 'application/json',
                url: '/flowersys/proposal/message',
                success: function (data) {
                    if (data.code == '200') {
                        var element = document.createElement("span");
                        element.id = "newMessage";
                        element.classList.add("layui-badge");
                        element.innerText = data.data;
                        var a = document.getElementById('message').appendChild(element);
						}
                    }
                })
            var socket = new Socket("ws://139.196.102.33/flowersys/echo/admin");
            };


	</script>
</html>