<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junhow.gp.dao.GradeMapper">
  <resultMap id="BaseResultMap" type="com.junhow.gp.pojo.Grade">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="flowerid" jdbcType="INTEGER" property="flowerid" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="latinname" jdbcType="VARCHAR" property="latinname" />
  </resultMap>
</mapper>